<section>
  <div class="container">
    <h2 class="iq-title"> {{(issue.organization.brand ? issue.organization.brand + " - " : "") + issue.organization.name}}</h2><hr><br>
    <div class="row">
      <div class="col-lg-6 col-sm-12 mb-lg-0 mb-5">
        <div class=" text-left iq-title-box iq-title-default iq-title-box-1">
          <div class="iq-title-icon">
          </div>
          <h4 class="iq-title"> {{issue.title}} </h4>

          <p class="iq-title-desc">{{issue.content}}</p>
        </div>
        <ul class="job-details d-inline-block p-0">
          <li class="list-unstyled">
            <h6 class="deatils d-inline-block">Дата создания :</h6><span class="pl-3">{{issue.created | date}}</span></li>
          <li class="list-unstyled">
            <h6 class="deatils d-inline-block">Прикрепленные файлы :</h6><span class="pl-3"><a href="#">Тест.jpg</a></span></li>
          <li class="list-unstyled">
            <h6 class="deatils d-inline-block">Актуальность проблемы :</h6>
            <div class="blog-button d-inline-block">
              <a class="iq-btn-link focusable text-success" style="margin-left: 10px;">144<i class="ml-2 fa fa-plus"></i></a>
              <a class="iq-btn-link focusable text-danger" style="margin-left: 20px">23<i
                class="ml-2 fa fa-minus"></i></a>
            </div>
          </li>
        </ul>
      </div>
    </div>
    <div class="widget">
      Примечание: Для организации
      <hr>
      <a class="pull-right" href="#">Обратная связь</a>
    </div>
    <div id="recent-comments-2" class="widget widget_recent_comments"><h2 class="widget-title">Предложенные советы для устранения/решения проблемы</h2>
      <ul id="recentcomments">
        <li class="recentcomments">
        <span class="comment-author-link">
          <a href="#" class="url">Решение проблемы)
            Решение проблемы)
            Решение проблемы)
            Решение проблемы)
            Решение проблемы)
            Решение проблемы)
            Решение проблемы)
            Решение проблемы)
            Решение проблемы)
            Решение проблемы)
            Решение проблемы)
            Решение проблемы)

          </a><br>
          <div class="blog-button d-inline-block">
            <a class="iq-btn-link focusable text-success" style="margin-left: 10px; !important;">144<i class="ml-2 fa fa-plus"></i></a>
            <a class="iq-btn-link focusable text-danger" style="margin-left: 20px !important;">23<i
              class="ml-2 fa fa-minus"></i></a>
          </div>
        </span><hr class="divider"><br>
        </li>
        <!--      povtoor -->
        <li class="recentcomments">
        <span class="comment-author-link">
          <a href="#" class="url">Решение проблемы)
            Решение проблемы)
            Решение проблемы)
            Решение проблемы)
            Решение проблемы)
            Решение проблемы)
            Решение проблемы)
            Решение проблемы)
            Решение проблемы)
            Решение проблемы)
            Решение проблемы)
            Решение проблемы)

          </a><br>
          <div class="blog-button d-inline-block">
            <a class="iq-btn-link focusable text-success" style="margin-left: 10px; !important;">144<i class="ml-2 fa fa-plus"></i></a>
            <a class="iq-btn-link focusable text-danger" style="margin-left: 20px !important;">23<i
              class="ml-2 fa fa-minus"></i></a>
          </div>
        </span><hr class="divider"><br>
        </li>
        <li class="recentcomments">
        <span class="comment-author-link">
          <a href="#" class="url">Решение проблемы)
            Решение проблемы)
            Решение проблемы)
            Решение проблемы)
            Решение проблемы)
            Решение проблемы)
            Решение проблемы)
            Решение проблемы)
            Решение проблемы)
            Решение проблемы)
            Решение проблемы)
            Решение проблемы)

          </a><br>
          <div class="blog-button d-inline-block">
            <a class="iq-btn-link focusable text-success" style="margin-left: 10px; !important;">144<i class="ml-2 fa fa-plus"></i></a>
            <a class="iq-btn-link focusable text-danger" style="margin-left: 20px !important;">23<i
              class="ml-2 fa fa-minus"></i></a>
          </div>
        </span><hr class="divider"><br>
        </li>
        <!--      konec povtora -->
      </ul>
    </div>
  </div>
</section>
