<footer id="contact" class=" iq-over-dark-90">
  <!-- Address -->
  <div class="footer-top">
    <div class="container">
      <div class="row">
        <div class="col-lg-3 col-md-6 col-sm-6 ">
          <div class="widget" id="donate">
            <div class="textwidget ">
              <p><img class="mb-4 img-fluid" src="/assets/img/pngwing.com.png" alt="visa-card">
                <br> Пожалуйста поддержите наш проект.</p>
            </div>
          </div>
        </div>
        <div class="col-lg-6 col-md-6 col-sm-6 mt-4 mt-lg-0 mt-md-0 ">
          <form action="" method="post" class="wpcf7-form" novalidate="novalidate">
            <div style="display: none;">
              <input type="hidden" name="_wpcf7" value="507" />
              <input type="hidden" name="_wpcf7_version" value="5.1.6" />
              <input type="hidden" name="_wpcf7_locale" value="en_US" />
              <input type="hidden" name="_wpcf7_unit_tag" value="wpcf7-f507-p385-o1" />
              <input type="hidden" name="_wpcf7_container_post" value="385" />
            </div>
            <p><span class="wpcf7-form-control-wrap your-name"><input type="text" name="your-name" value="" size="40" class="wpcf7-form-control wpcf7-text wpcf7-validates-as-required" aria-required="true" aria-invalid="false" placeholder="Номер карты" /></span>
              <br />
              <span class="wpcf7-form-control-wrap your-email"><input  style="width: 20%" type="text" name="your-email" value="" size="40" class="wpcf7-form-control wpcf7-text wpcf7-email wpcf7-validates-as-required wpcf7-validates-as-email" aria-required="true" aria-invalid="false" placeholder="ММ / ГГ" />
                                <input style="width: 75%;margin-left: 25px" type="text" name="your-email" value="" size="40" class="wpcf7-form-control wpcf7-text wpcf7-email wpcf7-validates-as-required wpcf7-validates-as-email" aria-required="true" aria-invalid="false" placeholder="Сумма пожертвования" /></span>
              <br />
              <br />
              <input type="submit" value="Поддержать проект" class="wpcf7-form-control wpcf7-submit" />
            </p>
            <div class="wpcf7-response-output wpcf7-display-none"></div>
          </form>
        </div>
        <div class="col-lg-3 col-md-6 col-sm-6 mt-lg-0 mt-4">
          <div class="widget">
            <h4 class="footer-title ">Контакты</h4>
            <div class="row">
              <div class="col-sm-12">
                <ul class="iq-contact">
                  <li>
                    <a><i class="fa fa-home"></i><span>г. Ташкент, Яшнабадский р-н, ул. Шота Руставели, дом 78</span></a>
                  </li>
                  <li>
                    <a href="mailto:info@devclub.uz"><i class="fa fa-envelope"></i><span><span class="__cf_email__">info@devclub.uz</span></span></a>
                  </li>
                  <li>
                    <a href="tel:+0123456789"><i class="fa fa-phone"></i><span>+998 (90) 485 95 84</span></a>
                  </li>
                </ul>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- Address END -->
  <div class="copyright-footer">
    <div class="container">
      <div class="pt-3 pb-3">
        <div class="row justify-content-between">
          <div class="col-lg-6 col-md-12 text-lg-left text-md-center text-center">
            <div class="social-icone">
              <ul>
                <li class="d-inline"><a href="javascript:void(0)"><i class="fa fa-twitter"></i></a></li>
                <li class="d-inline"><a href="javascript:void(0)"><i class="fa fa-instagram"></i></a></li>
                <li class="d-inline"><a href="javascript:void(0)"><i class="fa fa-linkedin"></i></a></li>
              </ul>
            </div>
          </div>
          <div class="col-lg-6 col-md-12 text-lg-right text-md-center text-center">
            <span class="copyright">Developed by Dev Club-15</span>
          </div>
        </div>
      </div>
    </div>
  </div>
</footer>
<!-- back-to-top -->
<div id="back-to-top">
  <a class="top" id="top" href="#top"> <i class="ion-ios-arrow-up"></i> </a>
</div>
<!-- back-to-top End -->
