<!--
<header>
    <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow mb-3">
        <div class="container">
            <a class="navbar-brand" [routerLink]="['/']">Social Voice</a>
            <button class="navbar-toggler"
                    type="button"
                    data-toggle="collapse"
                    data-target=".navbar-collapse"
                    aria-label="Toggle navigation"
                    [attr.aria-expanded]="isExpanded"
                    (click)="toggle()">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="navbar-collapse collapse d-sm-inline-flex flex-sm-row-reverse"
                 [ngClass]="{ show: isExpanded }">
                <ul class="navbar-nav flex-grow">
                    <li class="nav-item"
                        [routerLinkActive]="['link-active']"
                        [routerLinkActiveOptions]="{ exact: true }">
                        <a class="nav-link text-dark" [routerLink]="['/']">Home</a>
                    </li>
                    <li class="nav-item" [routerLinkActive]="['link-active']">
                        <a class="nav-link text-dark" [routerLink]="['/counter']">Counter</a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
</header>
-->

<!-- Header -->
<header id="main-header" class="header-main header2">
    <div class="container">
        <div class="row">
            <div class="col-sm-12">
                <nav class="navbar navbar-expand-lg navbar-light">
                    <a class="navbar-brand" href="/">
                        <img class="img-fluid" src="/assets/template/img/logo.png" alt="logo">
                    </a>
                    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                        <span class="menu-btn d-inline-block" id="menu-btn">
                            <span class="line"></span>
                            <span class="line"></span>
                            <span class="line"></span>
                        </span>
                        <span class="ion-navicon"></span>
                    </button>
                    <div class="collapse navbar-collapse" id="navbarSupportedContent">
                        <ul class="navbar-nav mr-auto w-100 justify-content-end">
                            <li class="nav-item dropdown">
                                <a class="nav-link active dropdown-toggle" href="#iq-home" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                    Home
                                </a>
                                <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                                    <a class="dropdown-item" href="index-2.html">Home 1</a>
                                    <a class="dropdown-item" href="index-3.html">Home 2</a>
                                    <a class="dropdown-item active" href="index-4.html">Home 3</a>
                                    <a class="dropdown-item" href="cloud-hosting.html">Cloud Hosting</a>
                                    <a class="dropdown-item" href="cloud-analytics.html">Cloud Analytics</a>
                                    <a class="dropdown-item" href="cloud-databases.html">Cloud Databases</a>
                                    <a class="dropdown-item" href="cloud-media-services.html">Cloud Media Services</a>
                                    <a class="dropdown-item" href="cloud-compute.html">Cloud Compute</a>
                                </div>
                            </li>
                            <li class="nav-item dropdown">
                                <a class="nav-link dropdown-toggle" href="javascript:void(0)" id="navbarDropdown-1" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                    About Us
                                </a>
                                <div class="dropdown-menu" aria-labelledby="navbarDropdown-1">
                                    <a class="dropdown-item" href="about-us-1.html">About Us 1</a>
                                    <a class="dropdown-item" href="about-us-2.html"> About Us 2</a>
                                </div>
                            </li>
                            <li class="nav-item dropdown">
                                <a class="nav-link dropdown-toggle" href="javascript:void(0)" id="navbarDropdown-2" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                    Pages
                                </a>
                                <div class="dropdown-menu" aria-labelledby="navbarDropdown-2">
                                    <a class="dropdown-item" href="services.html">Services</a>
                                    <a class="dropdown-item" href="our-team.html">Team</a>
                                    <a class="dropdown-item" href="pricing-plan.html">Pricing Plan</a>
                                    <a class="dropdown-item" href="clients.html">Clients</a>
                                    <a class="dropdown-item" href="faq.html">FAQ</a>
                                    <a class="dropdown-item" href="error-404.html">Error 404</a>
                                </div>
                            </li>
                            <li class="nav-item dropdown">
                                <a class="nav-link dropdown-toggle" href="javascript:void(0)" id="navbarDropdown-3" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                    Portfolio
                                </a>
                                <div class="dropdown-menu" aria-labelledby="navbarDropdown-3">
                                    <a class="dropdown-item" href="portfolio-2-columns.html">Portfolio 2 Columns</a>
                                    <a class="dropdown-item" href="portfolio-3-columns.html">Portfolio 3 Columns</a>
                                    <a class="dropdown-item" href="portfolio-4-columns.html">Portfolio 4 Columns</a>
                                    <a class="dropdown-item" href="portfolio-details.html">Portfolio Details</a>
                                </div>
                            </li>
                            <li class="nav-item dropdown">
                                <a class="nav-link dropdown-toggle" href="javascript:void(0)" id="navbarDropdown-4" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                    Blog
                                </a>
                                <div class="dropdown-menu" aria-labelledby="navbarDropdown-4">
                                    <a class="dropdown-item" href="blog.html">Blog</a>
                                    <a class="dropdown-item" href="two-column-blog.html">Two column blog</a>
                                    <a class="dropdown-item" href="three-column-blog.html">Three column blog</a>
                                    <a class="dropdown-item" href="right-column-blog.html">Right column blog</a>
                                    <a class="dropdown-item" href="blog-details.html">Blog Details</a>
                                </div>
                            </li>
                            <li class="nav-item dropdown">
                                <a class="nav-link dropdown-toggle" href="javascript:void(0)" id="navbarDropdown-5" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                    Contact Us
                                </a>
                                <div class="dropdown-menu" aria-labelledby="navbarDropdown-5">
                                    <a class="dropdown-item" href="contact-us-1.html">Contact Us 1</a>
                                    <a class="dropdown-item" href="contact-us-2.html">Contact Us 2</a>
                                </div>
                            </li>
                        </ul>
                    </div>
                    <div class="sub-main">
                        <ul>
                            <li class="d-inline"><a href="javascript:void(0)" class="login iq-button iq-btn-outline iq-btn-round" target="_blank">Login</a></li>
                            <li class="d-inline"><a href="javascript:void(0)" class="signup iq-button default iq-btn-round" target="_blank">Sign Up</a></li>
                        </ul>
                    </div>
                </nav>
            </div>
        </div>
    </div>
</header>
<!-- Header End -->
