
<section>
  <div class="row">
    <div class="mb-5 col-lg-9 offset-lg-2 col-md-6 offset-md-1">
      <form method="post">
        <div class="row no-gutters">
          <div class="col-lg-10">
            <input [(ngModel)]="searchText" (keyup)="onSearch()" type="email" name="query" placeholder="Поиск проблемы или организации" required="">
          </div>
          <div class="col-lg-2">
            <input type="submit" value="Поиск">
          </div>
        </div>
      </form>
    </div>
  </div>
  <div class="container">
    <div class="row">
      <div class="col-md-3" *ngFor="let issue of issues">
        <div class="item">
          <div class="iq-blog-box">
            <div class="iq-blog-image clearfix">
              <ul class="iq-blogtag">
                <li><a href="javascript:void(0)">{{ issues.IssueUid }}</a></li>
              </ul>
              <ul class="title">
                <li><p class="title-text">{{ issue.title }}</p></li>
              </ul>
              <div class="dropdown-divider"></div>
            </div>
            <div class="iq-blog-detail">
              <div class="blog-title">
              </div>
              <p class="no-long">{{ issue.content }}</p>
              <div class="iq-blog-meta">
                <ul class="iq-postdate">
                  <li class="list-inline-item">
                    <a href="javascript:void(0)" rel="bookmark">
                      <time class="entry-date published updated" datetime="2020-02-17T06:40:07+00:00">{{ issue.created | date }}</time>
                    </a>
                  </li>
                  <li class="list-inline-item pull-right">
                    <a href="javascript:void(0)" rel="bookmark">
                      <time class="entry-date published updated" datetime="2020-02-17T06:40:07+00:00">{{ issue.region }}</time>
                    </a>
                  </li>
                </ul>
              </div>
              <div class="blog-button">
                <a class="iq-btn-link focusable text-success pull-left">144<i class="ml-2 fa fa-plus"></i></a>
                <a class="iq-btn-link focusable text-danger pull-right">23<i class="ml-2 fa fa-minus"></i></a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
