
<section>
  <div class="row">
    <div class="mb-5 col-lg-9 offset-lg-2 col-md-6 offset-md-1">
      <form method="post">
        <div class="row no-gutters">
          <div class="col-lg-10">
            <input type="email" name="query" placeholder="Поиск проблемы или организации" required="">
          </div>
          <div class="col-lg-2">
            <input type="submit" value="Поиск">
          </div>
        </div>
      </form>
    </div>
  </div>
  <div class="container">
    <div class="row">
      <div class="col-md-3">
        <app-issue-card></app-issue-card>
      </div>
      <div class="col-md-3">
        <app-issue-card></app-issue-card>
      </div>
      <div class="col-md-3">
        <app-issue-card></app-issue-card>
      </div>
      <div class="col-md-3">
        <app-issue-card></app-issue-card>
      </div>
    </div>
    <div class="row">
      <div class="col-md-3">
        <app-issue-card></app-issue-card>
      </div>
      <div class="col-md-3">
        <app-issue-card></app-issue-card>
      </div>
      <div class="col-md-3">
        <app-issue-card></app-issue-card>
      </div>
      <div class="col-md-3">
        <app-issue-card></app-issue-card>
      </div>
    </div>
  </div>
</section>
<section>
  <app-issue-add></app-issue-add>
</section>

<section>
  <app-organizations></app-organizations>
</section>

<section>
  <app-issue-info></app-issue-info>
</section>
