<section>
  <div class="container">
    <div class="row">
      <div class="col-lg-6 col-sm-12">
        <img src="/assets/img/logo.png" class="img-fluid" alt="logo">
      </div>
      <div class="col-lg-6 col-sm-12 mb-lg-0 mb-5">
        <div class=" text-left iq-title-box iq-title-default iq-title-box-1">
          <div class="iq-title-icon">
          </div>

          <h2 class="iq-title">Миссия проекта</h2>

          <p class="iq-title-desc">
            Определиние и обобщение актуальных социальных проблем связанных с организациями
          </p>
        </div>
      </div>
    </div>
  </div>
</section>
